@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Proxima-Nova/Proxima-Nova-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Proxima-Nova/Proxima-Nova-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Proxima-Nova/Proxima-Nova-Lighter.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Freight";
    src: url(fonts/Freight/FreightText-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Freight";
    src: url(fonts/Freight/FreightText-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: "Freight";
    src: url(fonts/Freight/FreightText-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Cambria";
    src: url(fonts/Cambria/Cambria-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: "Cambria";
    src: url(fonts/Cambria/Cambria-Italic.ttf);
    font-style: italic;
}

html {
    height: 100%;
    margin: 0;
    font-family: "Proxima Nova";
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}

body {
    width: 90%;
    margin: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration-color: rgb(180, 180, 180);
}

h1 {
    margin-top: 0;
}

.section {
    padding-top: 12%;
}

@media screen and (min-width: 1300px) {
    body {
        width: 1170px;
    }
}

.text {
    padding-right: 5%;
}

.text h1 {
    font-family: "Freight";
    font-weight: lighter;
    font-size: calc(30px + 1.5vw);
    margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
    .text h1 {
        font-size: 49.5px;
    }
}

@media screen and (max-width: 800px) {
    .text {
        padding-right: 0;
    }
    .text h1 {
        text-align: center;
        font-size: calc(30px + 1vw);
    }
    .text p {
        text-align: justify;
    }
}
